@media (max-width: 800px) {
  .project-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 200px) {
  .home-card-container {
    width: 60%;
  }
  .lower-card {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 300px) {
  .home-card-container {
    width: 70%;
  }
  .lower-card {
    width: 11rem;
    height: 11rem;
  }
 
}

@media (min-width: 500px) {
  .home-card-container {
    width: 50%;
  }
  .lower-card {
    width: 12rem;
    height: 12rem;
  }
 
}

/* @media (min-width: 600px) {
  .home-card-container {
    width: 70%;
  }
  .lower-card {
    width: 12rem;
    height: 12rem;
  }
 
} */

@media (min-width: 700px) {
  .home-card-container {
    width: 40%;
  }
}

@media (min-width: 800px) {
  /* applies from 800px up */
  .sub-section-projects {
    width: 100%;
    height: 200vh;
  }
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    justify-content: center;
    /* gap: 1rem; */
  }
  .project-card {
    width: calc(50% - 1rem);
    /* width: 50%; */
    height: 48%;
  }

  .home-card-container {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .lower-card {
    width: 14rem;
    height: 14rem;
  }
}


@media (min-width: 1200px) {
  /* applies from 1200px up */
  .sub-section-projects {
    width: 100%;
    height: 100vh;
  }
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
    align-content: space-around;
    max-width: 2000px;
  }
  .project-card {
    width: 23%;
    height: 90%;
  }

  .lower-card {
    width: 15rem;
    height: 15rem;
  }
}
