/* SECTION 1 breakpoints */
/* homepage */

@media (min-width: 100px) {
  .home-card-container {
    width: 60%;
  }
  .lower-card {
    width: 6rem;
    height: 6rem;
  }
  .prj-icon {
    height: 2rem;
    width: 2rem;
  }

  .lower-icon {
    height: 2rem;
    width: 2rem;
  
  }

  .lower-h3 {
    font-size: 0.8rem;
  }
}

@media (min-width: 300px) {
  .home-card-container {
    width: 68%;
  }
  .lower-card {
    width: 9rem;
    height: 9rem;
  }
  .prj-icon {
    height: 3rem;
    width: 3rem;
  }

  .lower-icon {
    height: 3rem;
    width: 3rem;
  
  }

  .lower-h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 400px) {
  .home-card-container {
    width: 60%;
  }
  .lower-card {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 500px) {
  .home-card-container {
    width: 50%;
  }
  .lower-card {
    width: 12rem;
    height: 12rem;
  }

  .prj-icon {
    height: 4rem;
    width: 4rem;
  }

  .lower-icon {
    height: 4rem;
    width: 4rem;
  
  }

  .lower-h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  .home-card-container {
    width: 40%;
  }
}

@media (min-width: 800px) {
  /* applies from 800px up */
  .hero-text{
    font-size: 3rem;
  }
  .sub-section-projects {
    width: 100%;
    height: 200vh;
  }
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    justify-content: center;
    /* gap: 1rem; */
  }
  .project-card {
    width: calc(50% - 1rem);
    /* width: 50%; */
    height: 48%;
  }

  .home-card-container {
    width: 80%;
  }
}

@media (min-width: 900px) {
 
  .lower-card {
    width: 16rem;
    height: 16rem;
  }

  .prj-icon {
    height: 6rem;
    width: 6rem;
  }

  .lower-icon {
    height: 6rem;
    width: 6rem;
  }
  .lower-h3 {
    /* display: block; */
    /* margin-left: 3rem; */
    /* margin-bottom: 5rem; */
    font-size: 2rem;
    /* border: #ec8b6b 1px solid; */
  }
}

@media (min-width: 1200px) {
  /* applies from 1200px up */

  .hero-text{
    font-size: 5rem;
  } 
  .sub-section-projects {
    width: 100%;
    height: 100vh;
  }

  .lower-card {
    width: 20rem;
    height: 20rem;
  }

  .prj-icon {
    height: 8rem;
    width: 8rem;
  }

  .lower-icon {
    height: 8rem;
    width: 8rem;
  }
  .lower-h3 {
    /* display: block; */
    /* margin-left: 3rem; */
    /* margin-bottom: 5rem; */
    font-size: 2.5rem;
    /* border: #ec8b6b 1px solid; */
  }

  .home-card-container {
    width: 75%;
  }
}

@media (min-width: 1400px) {
  /* applies from 1400px up */
  .lower-card {
    width: 24rem;
    height: 24rem;
  }

  .prj-icon {
    height: 9rem;
    width: 9rem;
  }

  .lower-icon {
    height: 9rem;
    width: 9rem;
  }
  .lower-h3 {
    font-size: 3rem;
  }

  .home-card-container {
    width: 65%;
  }
}
/* ------------------------------------ */
/* <!-- SECTION 2 breakpoints-->
<!-- Projects --> */
@media (max-width: 400px) {

}

@media (max-width: 800px) {
  .project-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  /* applies from 1200px up */

  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
    align-content: space-around;
    max-width: 2000px;
  }
  .project-card {
    width: 23%;
    height: 90%;
  }
}
/* ------------------------- */
/* <!-- SECTION 3 breakpoints -->
<!-- Tools & Skills --> */

@media (min-width: 200px) {
  /* applies from 200px up */
}

@media (min-width: 300px) {
}

@media (min-width: 500px) {
}

@media (min-width: 700px) {
}

@media (min-width: 800px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  /* applies from 1200px up */
}

/* ------------------------------ */
/* <!-- SECTION 4 breakpoints -->
<!-- About me --> */
@media (min-width: 200px) {
  /* applies from 200px up */
}

@media (min-width: 300px) {
}

@media (min-width: 500px) {
}

@media (min-width: 700px) {
}

@media (min-width: 800px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  /* applies from 1200px up */
}
